<ion-menu [content]="mycontent">
  <ion-content>
    <div class="logo-header">
      <div text-center>
        <img src="assets/img/logo-completo.png" alt="logo">
      </div>
    </div>
    <ion-list>
      <ion-list-header>
        <ion-icon name="menu" item-left></ion-icon> Menu </ion-list-header>
      <button ion-item menuClose (click)="perfil()">
            <ion-icon name="person" color="primary" item-right></ion-icon> Perfil
        </button>
      <button ion-item menuClose (click)="MisFacturas()">
            <ion-icon name="pricetag" item-right color="primary"></ion-icon> Mis Facturas
        </button>
      <button ion-item menuClose (click)="toLogin()">
            <ion-icon name="log-out" item-right  color="primary"></ion-icon> Cerrar Sesión
        </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>{{api.user.cliente? api.user.cliente.full_name: api.user.nombre }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="toNotificaciones()">
            <ion-icon name="notifications" ></ion-icon>
            <ion-badge>{{api.user.notificaciones_count}}</ion-badge>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #mycontent>
  <ion-searchbar [(ngModel)]="query"></ion-searchbar>
  <ion-item>
    <ion-label>Categorias</ion-label>
    <ion-select [(ngModel)]="categoria_selected">
      <ion-option value="0">Todos</ion-option>
      <ion-option [value]="cat.id" *ngFor="let cat of categorias">{{cat.nombre}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-card *ngFor="let ticket of(ticketsFilters() | filter: query)">
    <ion-card-header>
      {{ticket.titulo}}
    </ion-card-header>
    <ion-card-content>
      <b>Categoria:</b> <span *ngIf="ticket.categoria">{{ticket.categoria.nombre}}</span> <br>
      <b>Estado:</b>
      <ion-badge class="{{ticket.estado}}">{{ticket.estado}}</ion-badge> <br>
      <b>Fecha:</b> {{ fechar(ticket.created_at )}} <br>
      <b>Fecha Limite:</b> {{ fechar(ticket.vencimiento) }} <br>
      <button ion-button primary full (click)="verTicket(ticket)">Ver Caso</button>
      <hr>
      <ion-label item-right text-right> <span color="primary">{{ticket.user? ticket.guardian.nombre :''}} </span></ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
